.section-about {
  margin-bottom: 7rem;

  &__content {
    margin-top: 2rem;
  }

  &__title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: $font-s18;
    font-weight: $font-w6;
    text-transform: uppercase;
  }

  &__text {
    color: $color-grey-dark-7;
    font-size: $font-s12;
    line-height: 20px;
  }

  &__link {
    display: block;
    margin-top: 2.5rem;
    color: $color-grey-light-6;
    font-size: $font-s12;
  }

  &__img {
    img {
      max-width: 100%;
    }
  }
}
